@keyframes downToUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.down-to-up {
    animation: downToUp 0.3s ease forwards;
}